__pycache__
*.py[cod]
*$py.class
.Python
*.so
.env
.env.*
.venv
venv
.git
.gitignore
*.md
.dockerignore
Dockerfile
compose*.yml
compose*.yaml
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
